@import url(./variables.css);
@import url(./fonts.css);

.about__cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
}

.about__card {
  display: flex;
  align-items: center;
  gap: 84px;
}

.card__text {
  display: flex;
  flex-direction: column;
  max-width: 466px;
  gap: 30px;
}

.card__title {
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: 33.6px;
}

.card__desc {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
}

.card__img {
  max-width: 526px;
  height: 365px;
  border-radius: 13px;
}

.second-img {
  height: 400px;
}

@media (min-width: 600px) and (max-width: 1190px) {
  .about__card {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .about__cards {
    padding-top: 50px;
    gap: 50px;
  }

  .about__card {
    padding: 0px 20px;
    flex-direction: column;
  }

  .card__img {
    display: none;
  }
}
