@font-face {
  font-family: 'Proxima Nova';
  font-style: bold;
  font-weight: 900;
  src: url('../../../../src/assets/fonts/proximanova_black.woff')
      format('woff2'),
    url('../../../../src/assets/fonts/proximanova_black.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: bold;
  font-weight: 700;
  src: url('../../../../src/assets/fonts/proximanova_bold.woff2')
      format('woff2'),
    url('../../../../src/assets/fonts/proximanova_bold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../src/assets/fonts/proximanova_regular.woff2')
      format('woff2'),
    url('../../../../src/assets/fonts/proximanova_regular.woff') format('woff');
}

@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../src/assets/fonts/ElMessiri.woff2') format('woff2'),
    url('../../../../src/assets/fonts/ElMessiri.woff') format('woff');
}
