@import url(./fonts.css);
@import url(./variables.css);

.sessions__inner-card-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 416px;
  height: 535px;
  border-radius: 10px;
  background: url(../../../assets/images/jpg/session-high.jpg) no-repeat center;
}

.card-text {
  padding: 0 108px 50px 50px;
  font-family: 'El Messiri';
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 410px;
  height: 255px;
  border-radius: 10px;
  background: url(../../../assets/images/jpg/session-short.jpg) no-repeat center;
}

.short {
  padding: 0 40px 30px 40px;
}

@media (min-width: 1201px) and (max-width: 1420px) {
  .card {
    width: 365px;
  }

  .sessions__inner-card-big {
    width: 400px;
  }
}

@media (min-width: 1001px) and (max-width: 1201px) {
  .card {
    width: 240px;
  }

  .card-text {
    font-size: 15px;
    line-height: 23.6px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .card {
    width: 340px;
  }

  .card-text {
    font-size: 15px;
    line-height: 23.6px;
  }

  .sessions__inner-card-big {
    height: 255px;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .card {
    width: 300px;
    height: 200px;
  }

  .sessions__inner-card-big {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: url(../../../assets/images/jpg/session-short.jpg) no-repeat
      center;
  }

  .card-text {
    font-size: 15px;
    line-height: 23.6px;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
  }
}
